<aside class="sidebar">

	<h2 class="brand">Nextwork</h2>

	<nav class="menu">

		{% if 'dashboard' in menus %}
			<a href="#">
				<i class="bx bxs-dashboard"></i>
				<span>Tableau de bord</span>
			</a>
		{% endif %}

		{% if 'departement' in menus %}
			<a href="{{ path('app_department_ajout') }}">
				<i class="bi bi-buildings-fill"></i>
				<span>Gestion des départements</span>
			</a>
		{% endif %}

		{% if 'recrutement' in menus %}
			<a href="{{ path ('company_job_offers')}}">
				<i class="bi bi-person-fill"></i>
				<span>Demande de recrutement</span>
			</a>
		{% endif %}

		{% if 'offre' in menus %}
			<a href="ajoutOffre">
				<i class="bx bxs-briefcase-alt-2"></i>
				<span>Offres d’emploi</span>
			</a>
		{% endif %}

		{% if 'utilisateur' in menus %}
			<a href="{{ path('add_users') }}">
				<i class="bx bxs-group"></i>
				<span>Gestion des utilisateurs</span>
			</a>
		{% endif %}

		{% if 'candidat' in menus %}
			<a href="{{ path('suivieCandidate') }}">
				<i class="bi bi-person-lines-fill me-2"></i>
				<span>Gestion des candidats</span>
			</a>
		{% endif %}
		{% if app.session.get('company') %}
            <a href="{{ path('logoutCompany') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        {% endif %}

	</nav>
</aside>
